<footer>
    <div class="container">
        <div class="nav-wrapper">
            <a href="index.html" class="logo">
                <img src="img/logo.svg" alt="logo">
            </a>
            <nav>
                <ul>
                    <li><a data-link="1" href="index.html" class="active">Главная</a></li>
                    <li><a data-link="2" href="about-us.html">О нас</a></li>
                    <li><a data-link="3" href="services.html">Услуги</a></li>
                    <li><a data-link="4" href="#">Статьи</a></li>
                </ul>
                <div class="rights">
                    <span><a href="https://ruh.com.ua">ruh.com.ua</a>©2019 Все права защищены.</span>
                </div>
            </nav>
        </div>
        <div class="action-wrapper">
            <a href="contact-us.html" class="button">Запись на консультацию</a>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.0.js"></script>
<script src="js/libs.min.js"></script>
</body>
</html>