<header>
    <div class="container">
        <div class="nav-wrapper">
            <a href="#" class="logo">
                <img src="img/logo.svg" alt="logo">
            </a>
            <nav>
                <div class="aside-top show-mob">
                    <a href="#" class="logo">
                        <img src="img/logo.svg" alt="logo">
                    </a>
                    <div class="burger opened">
                        <span></span>
                    </div>
                </div>
                <ul>
                    <li><a data-link="1" href="#" class="active">Главная</a></li>
                    <li><a data-link="2" href="#">О нас</a></li>
                    <li><a data-link="3" href="#">Услуги</a></li>
                    <li><a data-link="4" href="#">Статьи</a></li>
                </ul>
                <div class="btn-holder show-mob">
                    <a href="#" class="button">Запись на консультацию</a>
                    <a href="#" class="button">Позвонить</a>
                </div>
            </nav>
        </div>
        <div class="action-wrapper">
            <a href="#" class="button">Запись на консультацию</a>
            <div class="burger show-mob">
                <span></span>
            </div>
        </div>
    </div>
</header>