<header>
    <div class="container">
        <div class="nav-wrapper">
            <a href="#" class="logo">
                <img src="https://img.svg.com/img/svgdotcom_logo_color.svg" alt="logo">
            </a>
            <nav>
                <a href="#" class="logo show-mob">
                    <img src="https://img.svg.com/img/svgdotcom_logo_color.svg" alt="logo">
                </a>
                <div class="burger show-mob"><span></span></div>
                <ul>
                    <li><a href="#">Main</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Articles</a></li>
                </ul>
                <a href="#" class="button show-mob">Sign up for consultation</a>
                <a href="#" class="button show-mob">Call</a>
            </nav>
        </div>
        <div class="action-wrapper">
            <a href="#" class="button">Sign up for consultation</a>
            <div class="burger show-mob"><span></span></div>
        </div>
    </div>
</header>