<div class="pre-footer @@class">
    <!--no-media class-->
    <div class="fb-holder">
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fgoodevs%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1980581345532475"
                style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                allowTransparency="true" allow="encrypted-media"></iframe>
    </div>
    <div class="subscribe-block">
        <div class="quote-block">
            <h4>Успех адвокатского объединения - успех клиента.</h4>
            <p>Многолетний опыт адвокатской деятельности в сочетании с нестандартным подходом, обеспечит
                разработку эффективной линии защиты Вас и Вашего бизнеса с использованием законных правовых
                инструментов. Профессионализм наших сотрудников, постоянный контакт с клиентом, гарантирует Вам
                спокойный сон даже в сложной ситуации.</p>
        </div>
        <form class="subscribe-form">
            <div class="h5">Подписаться на новости</div>
            <div class="action-holder">
                <input type="text" placeholder="E-mail">
                <button type="submit">Подписаться</button>
            </div>
        </form>
    </div>
</div>